<!DOCTYPE html>
<html>
<head>
    <title>Handlebars Demo</title>
</head>
<body><h1>Hello World from Handlebars</h1>  
    <!-- For loop demo -->
    {{#each array}} 
      <h4>{{this}}</h4>
    {{/each}}
    <h4>{{message}}</h4>
</body>
</html>